<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>Storage Deck</h1>
  </div>
</div>


<div class='text-center'>
<%= link_to "ログアウト", logout_path,  data: { turbo_method: :delete } %>

<div class='text-center'>
<%= link_to "ログインページへ", login_path %>
</div>